body {
  font-family: "Helvetica";
  background-color: #f5f5f5;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 40px 0;
}

.header__avatar {
  border-radius: 50%;
}

.header__title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Helvetica Neue";
  font-style: italic;
  text-align: center;
}

.header__subtitle {
  color: #2732b0de;
  font-size: 25px;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}

.links {
  width: 320px;
  margin-bottom: 40px;
}

.links__header {
  font-family: "Helvetica Neue";
  font-size: 26px;
  font-style: italic;
  line-height: 1.4;
  margin: 0 0 15px 0;
  text-align: center;
}

.links__container {
  list-style-type: none;
  background: #dadadac4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3px 3px 1px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
  font-weight: bold;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid #dadada;
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #009688;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

